.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
  min-height: 100vh;
  padding: 1rem 0;
  z-index: 100;

  .backToHome {
    display: none;
  }

  .title {
    margin: 0;
  }

  .date {
    margin: 0;
    color: $gray;
  }

  .datePosted {
    margin: 0;
    color: $gray;
  }

  footer {
    display: none;

    .lights {
      display: none;
    }
  }
}

// MEDIA QUERIES!!!

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  /* mobile phones */
  .main {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 4rem);
    background-color: $beige;

    padding: 2rem;

    .backToHome {
      display: block;
    }

    footer {
      display: flex;
    }
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}
