.body {
  width: 50rem;
  padding-top: 2rem;

  .content {
    min-height: 75vh;
    display: grid;
    grid-template-columns: 3fr 1px 5fr;

    .posts {
      .sort {
        border-bottom: 1px solid $black;

        button {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          background-color: transparent;
          border: none;
          width: 100%;
          padding-left: 0;
          padding: 0.75rem 0;

          cursor: pointer;

          .sortIcon {
            width: 1.5rem;
            path,
            .sort {
              fill: $black;
            }
          }

          .asc {
            transform: scaleY(-1);
          }
        }
      }

      .list {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding: 0 1.5rem 0 0;
        margin-top: 1rem;
      }
    }

    .divider {
      width: 1px;
      height: 100%;
      margin: 0;
      border: none;
    }

    .post {
      padding-left: 1rem;
    }
  }
}

// MEDIA QUERIES!!!

@media only screen and (max-width: 1024px) {
  /* tablets and desktop */
  .body {
    width: 40rem;
  }
}

@media only screen and (max-width: 767px) {
  /* mobile phones */
  .body {
    width: 100%;

    .title {
      img {
        width: 4.5rem;
        height: 4.5rem;
      }

      h1 {
        font-size: 1.7rem;
      }
    }

    .content {
      display: block;

      .posts {
        .list {
          padding: 0;
          gap: 1.5rem;
          margin-bottom: 1rem;
        }
      }
    }

    .category {
      flex-wrap: wrap;
    }

    .divider {
      display: none;
    }
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}
