/////////////////
/// VARIABLES ///
/////////////////

$gray: #a2a2a2;
$red: #e3655b;
$green: #bef4bd;

$beige: #fff5e0;
$black: #171923;

$loading: #e9dddd;

// State Variables
$inactiveFont: #7d7d7d;
